<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
       default-init-method="init" default-destroy-method="destroy">   
    
    <bean id = "person" scope="singleton"
          init-method="onCreate"
          destroy-method="onDestroy"
          factory-method="getInstance"
          class = "com.caveofprogramming.spring.test.Person">
        <constructor-arg type="int" name="id" value="777"/>
        <constructor-arg type="String" name="name" value="Mary"/> 
        <property name="taxId" value="321"/>    
        <property name="address" ref="address"/>  
    </bean>
    <bean id = "person2" scope="singleton"
          init-method="onCreate"
          destroy-method="onDestroy"
          factory-bean="personfactory"
          factory-method="createPerson"
          class = "com.caveofprogramming.spring.test.Person">
        <constructor-arg type="int" name="id" value="654"/>
        <constructor-arg type="String" name="name" value="Mike"/> 
        <property name="taxId" value="321"/>    
        <property name="address" ref="address"/>  
    </bean>
    <bean id = "address"
          class = "com.caveofprogramming.spring.test.Address">   
        <constructor-arg name="street" value="1 Church Lane"/>
        <constructor-arg name="postcode" value="9876"/>
    </bean>   
    <bean id = "personfactory"
              class = "com.caveofprogramming.spring.test.PersonFactory">   
    </bean> 
</beans>
