<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">   
    <bean id = "person"
          class = "com.caveofprogramming.spring.test.Person">
        <constructor-arg type="int" name="id" value="777"/>
        <constructor-arg type="String" name="name" value="Mary"/> 
        <property name="taxId" value="123"/>    
        <property name="address" ref="address"/>  
    </bean>
     <bean id = "address"
          class = "com.caveofprogramming.spring.test.Address">   
         <constructor-arg name="street" value="1 Church Lane"/>
         <constructor-arg name="postcode" value="9876"/>
    </bean>   
</beans>
